<!DOCTYPE html>
<html>
 <head>
     <link rel="icon" href="\img\weather.png">
     <title> About</title>
     <link href="/css/style.css" rel="stylesheet">
 </head>
 <body>
     <div class="main-content">
          {{>header}}
     <img class="profile-pic" src="/img/me.png.jpg">
    <P>Am Ephraim David, A Node.Js Native - Javascript upcoming wizard!!!</P>
     {{!-- <form>
            <input type="text" placeholder="FullName" name="fullName"> <br />
         <input type="time" placeholder="checkIn" name="myTime"> <br />
         <input type="date" placeholder="Date" name="myDate">
         <button>Sign In </button>
     </form> --}}
     </div>
   
     {{>footer}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>    
          <script src="/js/time.js"></script>  
 </body>
</html>


