<!DOCTYPE html>
<html>
 <head>
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="\img\me.png.jpg">
     <title> About</title>
     <link href="/css/style.css" rel="stylesheet">
 </head>
 <body>
     <div class="main-content">
          {{>header}}
    <div> <h6 class="qoute">{{aboutApp}} <a href="/states" target="_blank">Here</a></h6>  </div>
    <div class="space-between-paragragh"></div>
     <img class="profile-pic" src="/img/me.png.jpg">
    <P class="about">I'm Agbeze Obinna, A Node.Js Native - <a href="https://slug.surge.sh" target="_blank">Find Me!</a></P>
    <div class="animate"></div>
     </div>
   
     {{>footer}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>    
          <script src="/js/threeD.js"></script>  
 </body>
</html>


