<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="\img\me.png.jpg">
        <title> Help</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
       <div class="main-content">
       
        <table>

        </table>
       {{!--   <table border="5"> <tbody>hello world</tbody>
<tr><th>State</th><th>Capital</th><th>Population</th></tr> 
<tr><td>Ebonyi</td><td>Abakaliki</td><td>2, 345, 345</td></tr>
</table> --}}
             {{>header}}  
      <p>{{helpMsg}}</p> <a href="https://slug.surge.sh">GET HELP HERE</a>
       <div class="space-between-paragragh"></div>
      <audio controls>
        <source src="\audio\Recording.mp3" type="audio/mp3">
        <source src="\audio\Recording.ogg" type="audio/ogg">
      </audio>
      </div> 
      {{>footer}}
      <script src="/js/time.js"></script>
    </body>
</html>