<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="\img\me.png.jpg">
        <title> Help</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
       <div class="main-content">
       
    
             {{>header}}  
      <p>{{helpMsg}}</p> <a href="https://slug.surge.sh">GET HELP HERE</a>
       <div class="space-between-paragragh"></div>
{{!--       
  <table width="100%" border="1" cellspacing="0" cellpadding="1">
    <colgroup><Col width="40" /><col width="35*" /></colgroup>
    <tbody>

      <tr valign="TOP">
        <td width="20%">Name</td>
        <td width="20%">Age</td>
        <td width="20%">Occupation</td>
      </tr>

      <tr valign="TOP">
        <td width="20%"><span style="color: #000000">Agbeze Obinna E</span></td>
        <td width="20%"><span style="color: #000000">25</span></td>
        <td width="20%"><span style="color: #000000">Pen Test</span></td>
      </tr>

      <tr valign="TOP">
        <td width="25%"><span style="color:#000000">Agbeze Paul Chigozie</span></td>
        <td width="25%"><span style="color: #000000">21</span></td>
        <td width="20%"><span style="color:#000000">Engine</span></td>
      </tr>
    </tbody>
  </table> --}}
     </div> 

      {{>footer}}
      <script src="/js/time.js"></script>
    </body>
</html>