<!DOCTYPE html>
<html>
   
    <head>
        <link rel="icon" href="\img\weather.png">
        <title>Home </title> 
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
           {{>header}} 

           <form>
               <input placeholder="location" name="name">
               <button>Submit</button>
           </form>   
           <p id="message-1"></p> 
           <p id="message-2"></p>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>  
         <script src="/js/new.js"></script>  
    </body>
</html>