<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="\img\me.png.jpg">
        <title>Nigeria State tribe tribalism population local government area postal code mineral resources </title> 
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
           {{>header}}    
            <form>
               <input type="text" placeholder="Find State" name="names">
               <button>Search</button>
           </form>
           <div class="actions__container--spaced">
               <p class="error"></p>
               <p class="state"></p>
               <p class="cap"></p>
               <p class="create"></p>
               <p class="pop"></p>
               <p class="pop1"></p>
               <p class="pro"></p>
               <p class="pro1"></p>
               <p class="lg"></p>
               <p class="zon"></p>
               <p class="pos"></p>
               <p class="min"></p>
           </div>
         <div class="li-body"></div>
          <div class="lga"></div>
          <p class="count"></p>
          <table></table>
        </div>
        <div class="animate"></div>
        {{>footer}}
        <script src="/js/app.js"></script>   
    </body>
</html>