<DOCTYPE html>
    <html>
    <head></head>
    <body> 
        {{>header}} 
        <select id="drop-down">
            <option value="Abia">Abia</option>
            <option value="Adamawa">Adamawa</option>
            <option value="Akwa Ibom">Akwa Ibom</option>
        </select>
        <div id="push"></div>
        {{>footer}}
        <script src="/js/api.js"></script>
         </body>
    </html>